<h1 class="mb-4">Welcome to your favorite grocery store</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% if @products.any? %>
        <%= render "list", products: @products %>
      <% else %>
        <tr>
          <td colspan="12" class="py-4 text-center text-muted">There are no products. Please contact our support team.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
