<h1 class="mb-4">Your Cart</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
        <th>Available Coupon Codes For This Product</th>
        <th colspan="2">Product Subtotal</th>
        <th colspan="5"></th>
      </tr>
    </thead>
    <tbody id="cart_listing">
      <% if @line_items.any? %>
        <%= render "line_item_list", line_items: @line_items %>
      <% else %>
        <tr>
          <td colspan="12" class="py-4 text-center text-muted">There are no products in your cart.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<h4 id="calculated_amount" class="mt-3">Amount to be paid: <%= number_to_currency(current_order.subtotal) %></h4>

<%= button_to "Checkout", [:checkouts], method: :post, class: "btn btn-lg btn-primary mt-2", data: { disable_with: "Processing..." } %>